/* =============
    Details
============= */
#details {
    background-color: var(--accentLight);
    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". details .";
    padding-top: 8px;
    padding-bottom: 8px;

    @include md {
        padding-top: 32px;
        padding-bottom: 32px;
    }

    #detailsContent {
        grid-area: details;

        display: grid;
        gap: 4px;

        @include md {
            display: flex;
            justify-content: space-between;
        }

        #features {
            img {
                object-fit: contain;
                max-width: 100%;
            }

            @include md {
                flex-basis: 50%;
            }
        }

        #specs {
            background-color: var(--onPrimary);
            border-radius: 16px;
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            padding: 16px;
            gap: 19px;

            >div {
                table {
                    td:nth-child(2) {
                        padding-left: 21px;
                    }
                }
            }

            width: max-content;
            height: max-content;
        }
    }
}