/* =============
    Product
============= */
#product {

    display: grid;
    grid-template-columns: 16px auto 16px;
    grid-template-areas: ". product .";

    >div {
        grid-area: product;

        @include sm {
            #productInfoDesktop {
                display: none;
            }
        }

        @include md {
            #productInfoDesktop{display:block;}
            // #productInfoDesktop{display:inline;}
            #productInfoMobile {
                display: none;
            }
        }
    }
}