/* =============
    Reviews
============= */
.reviewStars {
  img {
    width: 24px;
    height: 24px;
  }
}

.reviewText {
  // Line clamp w/ellipses
  display: -webkit-box;
  -webkit-line-clamp: var(--line-clamp, 6);
  -webkit-box-orient: vertical;
  word-break: var(--word-break, 'none');
  overflow: hidden;
  hyphens: auto;
  text-align: var(--align, left);
}