/* =============
    Typography
============= */
h1,h2,h3,h4,h5, p{
    margin: 0;
    padding: 0;
}

body{
    font-family:'Raleway', sans-serif;
}

/*H1= productName
H2= sectionHeader
P= body

light=300
regular=400
medium=500
semibold=600
bold=700
*/

//body
p, .fontBody {
    font-weight: 500;
    font-size: rem-calc(14);
    line-height: 150%;
}

//purchasingOptions
.fontPurchasingOptions {
    font-weight: 500;
    font-size: rem-calc(13);
}

//sectionHeader
h2{
    font-weight: 700;
    font-size: rem-calc(24);
}

//reviewTitle
.reviewTitle{
    font-weight: 700;
    font-size: rem-calc(19);
}

//reviewUser
.username{
    font-weight: 300;
    font-size: rem-calc(10);
}

//readMore
.readMore{
    font-weight: 400;
    font-size: rem-calc(10);
}

//productName
h1{
    font-weight: 500;
    font-size: rem-calc(36);
}

//specs
td{
    font-weight: 500;
    font-size: rem-calc(14);
    line-height: 180%;
}

//button
.blueButton{
    font-weight: 500;
    font-size: rem-calc(16);
}

//footer1
.fontFooter1{
    font-weight: 400;
    font-size: rem-calc(12);
    line-height: 180%;
    color: var(--onPrimary);
}

//footer2
.fontFooter2{
    font-weight: 400;
    font-size: rem-calc(10);
    line-height: 161.9%;
    color: var(--onPrimary);
}